.heading{
font-weight:900;
font-size:60px;
margin:20px;
margin-bottom: 30px;

}

input{
  width:100%;
}
.items-container{
text-align: left;
}
.kg-button{
min-width:100px;
}
.kg-row{
margin:10px 5px;
}